@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: #0c3e11;
  font-family: "Fira Code", serif;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.header_one {
  /* center the elements */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.header_one h3 {
  font-size: 2.5em;
  color: whitesmoke;
  text-shadow: 0 0 10px #ffffff;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.form-section h2 {
  font-size: 1.8em;
  color: whitesmoke;
  text-shadow: 0 0 10px #ffffff;
}

.form-section_title {
  font-size: 1.5em;
  color: whitesmoke;
  text-shadow: 0 0 10px #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
  font-size: 1.6em;
}

form label {
  color: whitesmoke;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

form select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mensaje {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #1c2d1f;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: #1c2d1f;
}
